{extend name="public/base"/}

{block name="header"}
    <li class="active"><a>安装协议<span class="caret"></span></a></li>
    <li class="active"><a>环境检测<span class="caret"></span></a></li>
    <li class="active"><a>创建数据<span class="caret"></span></a></li>
    <li class="active"><a>{eq name="Think.session.update" value="1"}升级{else/}安装{/eq}<span class="caret"></span></a></li>
    <li class="active"><a>完成<span class="caret"></span></a></li>
{/block}

{block name="body"}
    <h1>完成</h1>
    <p>{eq name="Think.session.update" value="1"}升级{else/}安装{/eq}完成！</p>
	{present name="info"}
	{$info}
	{/present}
{/block}


{block name="footer"}
    <a class="btn btn-primary btn-large" href="<?php echo 'http://'. $_SERVER['SERVER_NAME'] . rtrim(dirname(rtrim($_SERVER['SCRIPT_NAME'], '/')), '/');?>/admin/login/index">登录后台</a>
    <a class="btn btn-success btn-large" href="<?php echo 'http://'. $_SERVER['SERVER_NAME'] . rtrim(dirname(rtrim($_SERVER['SCRIPT_NAME'], '/')), '/');?>">访问首页</a>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=59437834" charset="UTF-8"></script>
{/block}