<select name="type" id="data-type" lay-filter="data-type">
    <option value="">----请选择----</option>
    {volist name=":get_attribute_type()" id="type"}
    <option value="{$key}" rule="{$type[1]}" {eq name="data['type']" value="$key"}selected{/eq}>{$type[0]}</option>
    {/volist}
</select>
<script>
    {eq name=":request()->action()" value="add"}
    $(function(){
        layui.use(['form'], function(){
            var form = layui.form;
            form.on('select(data-type)', function(data){
                $("input[name='field']").val($("#data-type").find('option:selected').attr('rule'));
            });
        });
    });
    {/eq}
</script>